// habtoorist  typography

// font-family





$fontSfProBlock: "sf-pro-display-block";
$fontSfProBold: "sf-pro-display-bold";
$fontSfProHeavy: "sf-pro-display-heavy";
$fontSfProLight: "sf-pro-display-light";
$fontSfProMedium: "sf-pro-display-medium";
$fontSfProRegular: "sf-pro-display-regular";
$fontSfProSemibold: "sf-pro-display-semibold";
$fontSfProUltralight: "sf-pro-display-ultralight";

$fontSfdisplaybold: "SF-Pro-Display-Bold";
$fontSfdisplaymedium: "SF-Pro-Display-Medium";

//fonts weight

$font-weight-bold: 600;
$font-weight-xs-bold: 500;
$font-weight-regular: 400;
$font-weight-light: 300;
$font-weight-ex-light: 100;


//fonts size

$font-xl: 1.625rem;
$font-md: 1.25rem;
$font-sm: 1rem;
$font-xs: 0.875rem;
$font-exs: 0.75rem;
$font-small: 0.625rem;
//text color


$color-dark: #323234;
$color-dark1: #3C3C3C;
$color-dark2: #707070;
$color-dark3: #4E4E4E;
$color-dark4: #B6B9C3;
$color-dark5: #9095A4;
$color-dark6: #E6E6E6;
$color-light: #9B9B9B;
$color-light3: #dbdbdb;
$color-light4: #808080;
$color-light5: #F0F2F5;
$color-light6: #efefef;
$color-light7: #323235;
$color-light8: #FAFAFA;
$color-light9: #dee2e6;
$color-light10: #e5e5e5;
$color-white: #ffffff;
$theme-color1: #9FCECB;
$theme-color2: #3C6461;
$theme-color3: #80C7C3;
$theme-main-color: #3E6562;
//tag color

$color-brown: #8B8B8B;
$color-light-black: #22242A;
$color-brown2: #727272;
$color-red: #EB2D2D;
$color-red1: #864039;
$color-red2: #C6475B;
$color-green: #3FA361;
$color-orange: #FF9800;
$color-blue: #00ABFC;
$color-blue1: #47a3c6;
$color-black: #000;
$color-brown1: #222222;
$color-light-white: #E8E8E8;
$color-light-brown: #676767;

$success: #4CAF50;
$danger: #fe8186;
$warning: #fca912;
$primary: #15a1fa;
$errorBg:#F4ECEC;
$approveBg : #3E6562;
$mapLocationColor: #284148;

$chatGreenIcon: #04E013;
$chatBorder: #04E0132E;
$resolveStatus: #00D880;

$rowBottomMargin: 1rem;
$rowBottomMargin: 1rem;
$error-color: #BC2222;
$success-color: #72B25A;
$gray: #F7F8FA;
$gray2: #EEF0F3;
$gray3: #ABB5BE;