<section class="authContainer">
  <div class="formContainer">
    <div class="formcontent">
      <div class="logo">
        <img src="{{logo}}" alt="ourlane">
      </div>
      <form class="login_form" [formGroup]="resetPassword" (ngSubmit)="signup(resetPassword.value)">
        <a routerLink="/webadmin" class="header-button">
          <img src="{{backIcon}}" style="width: 20px;">&nbsp;&nbsp;Back to login
        </a>
        <div class="header">
          <br><br>
          <h3 class="font-termina">{{'resetPassword.title' | translate }}</h3>
          <p>{{'resetPassword.subTitle' | translate }}</p>
        </div>

        <div class="form-group">
          <label for="password">{{'label.password' | translate }}</label>
          <div class="input">
            <input [type]="fieldTextType ? 'text' : 'password'" class="form-control" formControlName="password"
              placeholder="{{'label.enterNewPassword' | translate }}" name="password" id="password"
              [(ngModel)]="password" (cut)="$event.preventDefault()"
              (keyup)="passwordCheck(resetPassword.value.password)" />

            <span class="icon">
              <img src="{{keyIcon}}" alt="password" />
            </span>
            <span class="icon viewPassword" (click)="toggleFieldTextType()">
              <img *ngIf="!fieldTextType" src="{{eyeIcon}}" alt="password" />
              <img *ngIf="fieldTextType" src="{{eyeActiveIcon}}" alt="password" />
            </span>
          </div>
          <div class="form_error_blk password-strength" *ngIf="showPS">
            <span class="form_error_class">
              <span class="ps-label">Password Strength</span>
              <div class="bars">
                <span
                  [ngClass]="statusNumber >= 1 ? statusNumber === 4 ? 'vgood' : statusNumber >= 3 ? 'good' : 'poor' :  'not'">&nbsp;</span>
                <span
                  [ngClass]="statusNumber >= 2 ? statusNumber === 4 ? 'vgood' :  statusNumber >= 3 ? 'good' : 'poor' : 'not'">&nbsp;</span>
                <span [ngClass]="statusNumber >= 3 ? statusNumber === 4 ? 'vgood' :  'good' : 'not'">&nbsp;</span>
                <span [ngClass]="statusNumber >= 4 ? statusNumber === 4 ? 'vgood' :  'good' : 'not'">&nbsp;</span>
              </div>
              <span *ngIf="statusNumber > 2 && statusNumber < 4" class="strength-gd">{{'resetPassword.good' | translate
                }}</span>
              <span *ngIf="statusNumber === 4" class="strength-vs">{{'resetPassword.veryStrong' | translate }}</span>
              <span *ngIf="statusNumber >= 1 && statusNumber < 3" class="strength-pr">{{ 'resetPassword.poor' |
                translate }}</span>
              <span class="ps-sub-label">{{ 'resetPassword.StrengthMessage' | translate }}</span>
            </span>
          </div>
          <div class="form_error_blk">
            <span
              *ngIf="resetPassword.controls['password'].errors && resetPassword.controls['password'].errors.required"
              style="color: red" class="form_error_class">{{'errors.passwordRequired' | translate }}</span>
            <span *ngIf=" resetPassword.controls['password'].hasError('minlength') " style="color: red"
              class="form_error_class">
              {{'errors.passwordMin8characters' | translate }}</span>
            <span style="color: red" *ngIf=" resetPassword.controls['password'].hasError('maxlength') "
              class="form_error_class">
              {{'errors.passwordMax15characters' | translate }}</span>
          </div>
          <div class="form_error_blk" *ngIf="capitalLetterExists || LetterExists">
            <span style="color: red" class="form_error_class">
              {{'errors.passwordCapsLower' | translate }}
            </span>
          </div>
          <div class="form_error_blk" *ngIf="numberExists">
            <span style="color: red" class="form_error_class">
              {{'errors.passwordNumberRequired' | translate }}
            </span>
          </div>
          <div class="form_error_blk" *ngIf="specialCharExists">
            <span style="color: red" class="form_error_class">
              {{'errors.passwordSpecialCharacter' | translate }}
            </span>
          </div>
        </div>
        <div class="form-group">
          <label for="cpassword">{{'label.confirmPassword' | translate }}</label>
          <div class="input">
            <input [type]="fieldTextTypeConfirm ? 'text' : 'password'" class="form-control"
              placeholder="{{'label.confirmYourPassword' | translate }}" name="cpassword" id="cpassword"
              formControlName="cpassword" [(ngModel)]="cpassword" />
            <span class="icon">
              <img src="{{keyIcon}}" alt="password" />
            </span>
            <span class="icon viewPassword" (click)="toggleFieldTextTypeConfirm()">
              <img *ngIf="!fieldTextTypeConfirm" src="{{eyeIcon}}" alt="password" />
              <img *ngIf="fieldTextTypeConfirm" src="{{eyeActiveIcon}}" alt="password" />
            </span>
          </div>

          <div class="form_error_blk">
            <span
              *ngIf="resetPassword.controls['cpassword'].touched && resetPassword.controls['cpassword'].errors && resetPassword.controls['cpassword'].errors && resetPassword.controls['cpassword'].errors.required"
              style="color: red" class="form_error_class">{{'errors.cpasswordRequired' | translate }}</span>
            <span *ngIf="cpassword !== password && !resetPassword.controls['cpassword'].errors" style="color: red"
              class="form_error_class"> {{'errors.passwordDoesntMutch' | translate }}</span>
          </div>

        </div>


        <div class="btnsGroup">
          <button type="submit"
            [disabled]="resetPassword.invalid || cpassword !== password || invalidPassword === false"
            class="button-primary btn-bt">
            {{'button.resetYourPassword' | translate }}
          </button>

        </div>
      </form>
      <div class="copyright">
        <p class="mb-0">{{'copyRights.text' | translate }}</p>
      </div>
    </div>
  </div>
  <div class="authVectorcontent">
    <div class="vectorContent">
      <div class="register-link text-right">
        <p>{{'signUpPage.alreadyHaveAnAccount' | translate }} <a routerLink="/webadmin">{{'signUpPage.singIn' |
            translate
            }}</a>
        </p>
      </div>
      <div class="vectorImage">
        <img src="{{signupImage}}" alt="vector image">
      </div>
      <div class="manageContnet">
        <h4 class="font-termina">{{'signUpPage.manageHeading' | translate}}</h4>
        <p>{{'signUpPage.manageText' | translate}}</p>
      </div>
    </div>
  </div>
</section>